<!DOCTYPE html>
<head>
  <title>Vintage News</title>
  <meta name="description" content="News Feed IP">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/logoziarmic.png">
  <link rel="stylesheet" href="css/articlesStyle.css" type="text/css"/>
  <link rel="stylesheet" href="css/loginStyle.css" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Diplomata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">
  <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">
</head>
<body ng-app="app">
  <div class="main-container" ng-controller="ArticlesController">
    <div class="site-presentation">
      <p>Welcome!</p>
        <p>Welcome to the Vintage newspaper! You are about to experience the
          excitement of reading a vintage newspaper online.</p>
        <p>The Vintage newspaper offers you all the articles you want on a click
        distance.
         We are sure you will find our newspaper easy and friendly to use. Let’s get
        started!</p>
    </div>
    <div id="flipbook-first" class="flipbook" ng-class="!toggleBrightness ? 'reduce-brightness' : ''">
      <div>
        <div style="display: flex; align-items: center;">
          <p style=" font-family: 'Diplomata', cursive; font-size: 40px; margin-right: auto;margin-left: auto;">Vintage News</p>
          <img src="images/logoziarmic.png">
          <p class="newspaper-day">{{currentDate | date : 'MM/dd/yyyy'}}</p>
        </div>
        <p style="font-size: 30px;" id="text">Choose your favorite subjects:</p>
        <div class="preferences-list">
          <div class="preference" ng-repeat="tag in tags_list track by $index">
            <div class="box" ng-click="tag.checked = !tag.checked;" ng-class="tag.checked ? 'box-checked' : ''">
              <i class="fa fa-check" aria-hidden="true" ng-if="tag.checked"></i>
            </div>
            <label class="lb">{{tag.label | capitalize: true}}</label> <br>
          </div>
          <div class="preference">
            <label style="width: 46%;">Select your language:</label>
            <select ng-model="selectedLanguage">
              <option ng-repeat="language in languages_list track by $index" value="{{language.label}}">{{language.name}}</option>
            </select>
          </div>
          <div ng-click="getArticlesByTags()" class="butons" style="cursor: pointer; margin-top: 30px; height: 30px;">Save and Read</div>
        </div>
      </div>
    </div>
    <div class="lamp-container">
      <img ng-click="toggleBrightness = !toggleBrightness"
           ng-src="{{!toggleBrightness ? 'https://image.ibb.co/d3o40k/off.png' : 'https://image.ibb.co/k6L6D5/on.png'}}">
    </div>
    <?php include 'templates/preferences-menu.php' ?>
  </div>

  <div ng-controller="AdminController">
    <table>

    </table>
  </div>
 <!--&lt;!&ndash; begin WTFs list &ndash;&gt;-->
  <!--<div id="tot">-->
    <!--<div id="tabel">-->
      <!--<div id="linie">-->
        <!--<div id="coloana"></div>-->
        <!--<div id="coloana">-->
          <!--&lt;!&ndash;facebook &ndash;&gt;-->
          <!--<div id="facebook">-->
            <!--<?php-->
            <!--$url = "http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];-->
            <!--echo("<a name=\"facebook\" href=\"https://www.facebook.com/sharer/sharer.php?u=" . $url . "\" target=\"_blank\">");-->
            <!--?>-->
            <!--<img src="images/facebook.png" height="25" width="25"></a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div id="coloana"></div>-->
      <!--</div>-->
      <!--<div id="linie">-->
        <!--<div id="coloana">-->

          <!--&lt;!&ndash;google &ndash;&gt;-->
          <!--<div id="google">-->
            <!--<?php-->
            <!--$url = "http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];-->
            <!--echo("<a name=\"google\" href=\"https://plus.google.com/share?url=" . $url . "\" target=\"_blank\">");-->
            <!--?>-->
            <!--<img src="images/google.png" height="25" width="25"></a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div id="coloana">-->
          <!--&lt;!&ndash; busola&ndash;&gt;-->
          <!--<div id="busola">-->
            <!--<img src="images/busola.png" height="116" width="116">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div id="coloana">-->

          <!--&lt;!&ndash;twitter&ndash;&gt;-->
          <!--<div id="twitter">-->
            <!--<?php-->
            <!--$url = "http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];-->
            <!--echo("<a name=\"twitter\" href=\"https://twitter.com/intent/tweet?url=" . $url . "\" target=\"_blank\">");-->
            <!--?>-->
            <!--<img src="images/twitter.png" height="25" width="25"></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div id="linie">-->
        <!--<div id="coloana"></div>-->
        <!--<div id="coloana">-->
          <!--&lt;!&ndash;reddit&ndash;&gt;-->
          <!--<div id="reddit">-->
            <!--<?php-->
            <!--$url = "http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];-->
            <!--echo("<a name=\"reddit\" href=\"https://reddit.com/submit?url=" . $url . "\" target=\"_blank\">");-->
            <!--?>-->
            <!--<img src="images/reddit.png" height="25" width="25"></a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div id="coloana"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div id="mySidenav" class="sidenav">-->
    <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
    <!--<form name="upload" method="post" action="#" enctype="multipart/form-data" accept-charset="utf-8">-->
      <!--<div class="form-group">-->
        <!--<input type="file" accept="image/*" name="file" id="file" class="input-file">-->
        <!--<label for="file"  class="btn btn-tertiary js-labelFile">-->
          <!--<i class="icon fa fa-check"></i>-->
          <!--<span class="js-fileName">Choose a file for the backgrond</span>-->
        <!--</label>-->
      <!--</div>-->

      <!--<label class="btn btn-tertiary color-input-label ">-->
        <!--<input name="color-button-background" type="color">-->
        <!--<span>Choose a background color for buttons</span>-->
      <!--</label>-->

      <!--<label class="btn btn-tertiary color-input-label">-->
        <!--<input name="color-button-text" type="color">-->
        <!--<span>Choose a color for buttons</span>-->
      <!--</label>-->

      <!--&lt;!&ndash;additional fields&ndash;&gt;-->
      <!--<div class="paper-button_container">-->
        <!--&lt;!&ndash;the defauld disabled btn and the actual one shown only if the three fields are valid&ndash;&gt;-->
        <!--<button type="button" class="btn btn-default util submit-button">Submit!</button>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->

  <!-- end WTFs list -->

</body>
<script src="https://opensource.keycdn.com/angularjs/1.6.2/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/ngDialog-master/js/ngDialog.js"></script>
<script type="text/javascript" src="js/turnjs4/lib/turn.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/loginController.js"></script>
<script type="text/javascript" src="js/registerController.js"></script>
<script type="text/javascript" src="js/articlesController.js"></script>
<script type="text/javascript" src="js/Services/articlesService.js"></script>
<script type="text/javascript" src="js/Services/loginService.js"></script>
<script type="text/javascript" src="js/Services/registerService.js"></script>

</html lang="en">
