@mixin button($w, $h, $b-radius){
  width: $w;
  height: $h;
  border-radius: $b-radius;
}

.login-panel{
  background: url('../images/login.png') no-repeat;
  & > div{
    @include button(100px, 30px, 20px);
    border: 1px solid #cdcdcd;
    color: #fff;
    font-size: 18px;
    background: url('../images/lemn.jpg') no-repeat;
  }
}
