body{
  overflow: hidden;
  background: url('../images/lemn.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  & p, & a{
    margin: 0;
    padding: 0;
  }
  & a{
    color: #000;
    border-bottom-style: none;
    &:visited{
      color: #000;
    }
  }
}

.butons {
  font-family:'Book Antiqua','Lucida Grande', 'Times New Roman', Georgia;
  padding: 5px 10px;
  border: 1px;
  cursor: pointer;
  margin: 8px 30px;
  color:white;
  border-radius: 6px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/buton.png");
}
.flipbook .page {
  position: absolute;
  height: 600px;
  width: 500px;
  overflow: hidden;
  color: #000;
  background: url("../images/background-page.jpg") no-repeat;
  & > p, & > a{
    text-align: center;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 20px;
    line-height: 20px;
    padding: 20px;
    &:first-child {
      font-size: 22px;
      line-height: 30px;
      font-family: 'Diplomata', cursive;
    }
  }
  & > a{
    display: block;
    text-decoration: none;
  }
  & > div{
    max-height: 30%;
    text-align: center;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 20px;
    line-height: 20px;
    padding: 20px;
    margin: 0;
    overflow: hidden;
  }
  & .preferences-list{
    display: flex;
    flex-direction: column;
    max-height: inherit;
    border: 2px dashed #000;
    margin-left: 40px;
    margin-right: 40px;
    & .preference{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
      & .fa-check{
        color: #fff;
        font-size: 25px;
        line-height: 30px;
      }
      & > label{
        width: 39%;
        text-align: left;
        font-size: 25px;
      }
      & .box{
        width: 30px;
        height: 30px;
        background-color: #fff;
        margin-right: 20px;
        border: 2px solid #cdcdcd;
      }
      & .box-checked{
        background-color: #000;
      }
      & > select{
        width: 32%;
        height: 30px;
        align-self: center;
        margin-right: 65px;
        font-family: 'Sorts Mill Goudy', serif;
        font-size: 25px;
      }
    }
  }
  & > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid grey;
  }
  & .metadata-article-container{
    display: flex;
    justify-content: flex-end;
  }
}
.flipbook {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 30px;
}

.lamp-container{
  width: 150px;
  height: 200px;
  & > img{
    width: inherit;
  }
}
