body{
  overflow: hidden;
}
.newspaper-page{
  position: absolute;
  height: 600px;
  width: 500px;
  overflow: hidden;
  line-height: 20px;
  font-size: 14px;
  color: #000;
  background: url("../images/ziar.png") no-repeat;
}
.flipbook{
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 200px;
}
