body {
  overflow: hidden;
  background: url("../images/lemn.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0; }
  body p, body a {
    margin: 0;
    padding: 0; }
  body a {
    color: #000;
    border-bottom-style: none; }
    body a:visited {
      color: #000; }

.butons {
  font-family: 'Book Antiqua','Lucida Grande', 'Times New Roman', Georgia;
  padding: 5px 10px;
  border: 1px;
  cursor: pointer;
  margin: 8px 30px;
  color: white;
  border-radius: 6px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/buton.png"); }

.flipbook .page {
  position: absolute;
  height: 600px;
  width: 500px;
  overflow: hidden;
  color: #000;
  background: url("../images/background-page.jpg") no-repeat; }
  .flipbook .page > p, .flipbook .page > a {
    text-align: center;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 20px;
    line-height: 20px;
    padding: 20px; }
    .flipbook .page > p:first-child, .flipbook .page > a:first-child {
      font-size: 22px;
      line-height: 30px;
      font-family: 'Diplomata', cursive; }
  .flipbook .page > a {
    display: block;
    text-decoration: none; }
  .flipbook .page > div {
    max-height: 30%;
    text-align: center;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 20px;
    line-height: 20px;
    padding: 20px;
    margin: 0;
    overflow: hidden; }
  .flipbook .page .preferences-list {
    display: flex;
    flex-direction: column;
    max-height: inherit;
    border: 2px dashed #000;
    margin-left: 40px;
    margin-right: 40px; }
    .flipbook .page .preferences-list .preference {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px; }
      .flipbook .page .preferences-list .preference .fa-check {
        color: #fff;
        font-size: 25px;
        line-height: 30px; }
      .flipbook .page .preferences-list .preference > label {
        width: 39%;
        text-align: left;
        font-size: 25px; }
      .flipbook .page .preferences-list .preference .box {
        width: 30px;
        height: 30px;
        background-color: #fff;
        margin-right: 20px;
        border: 2px solid #cdcdcd; }
      .flipbook .page .preferences-list .preference .box-checked {
        background-color: #000; }
      .flipbook .page .preferences-list .preference > select {
        width: 32%;
        height: 30px;
        align-self: center;
        margin-right: 65px;
        font-family: 'Sorts Mill Goudy', serif;
        font-size: 25px; }
  .flipbook .page > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid grey; }
  .flipbook .page .metadata-article-container {
    display: flex;
    justify-content: flex-end; }

.flipbook {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 30px; }

.lamp-container {
  width: 150px;
  height: 200px; }
  .lamp-container > img {
    width: inherit; }

/*# sourceMappingURL=articlesStyle.css.map */
