/* preferinte*/
body {
  margin: 0 0 0 0;
}

#left {
  float: left;
}

#text {
  font-family: 'Book Antiqua', 'Lucida Grande', 'Times New Roman', Georgia;
  font-size: 1.2em;
  margin: 0 0 20px 0;
  padding-top: 5px;
  padding-left: 40px;
}

#pref {
  margin-left: 20px;
}

.preferinte {

  width: 175px;
  height: 310px;
  border-radius: 9px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/ziar.png");
}

.box {
  opacity: 0;
  position: absolute;
}

.box, .lb {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  cursor: pointer;
}

.lb {
  position: relative;
  font-family: 'Book Antiqua', 'Lucida Grande', 'Times New Roman', Georgia;
}

.box + .lb:before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  padding: 5px;
  margin-right: 2px;
  text-align: center;
}

.box:checked + .lb:before {
  background: #e67300;
  box-shadow: inset 0px 0px 0px 4px #fff;
}

.butons {
  font-family: 'Book Antiqua', 'Lucida Grande', 'Times New Roman', Georgia;
  padding: 5px 10px;
  border: 1px;
  cursor: pointer;
  margin: 8px 30px;
  color: white;
  border-radius: 6px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/buton.png");
}

/*zona log*/
#st {
  width: 180px;
  height: 150px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url("../images/login.png");
}

.util {
  position: relative;
  left: 20px;
  top: 20px;
  width: 100px;
  margin-bottom: 5px;
  display: block;
  border-radius: 6px;
  cursor: pointer;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/buton.png");
  color: white;
}

.register {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

}

.login {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

}

.popup {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border-radius: 6px;
  width: 400px;

}

.close {

  margin-left: 345px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover {
  color: red;
  cursor: pointer;
}

.imgcontainer {
  margin: 0 0 17px 0;
}

.data {
  margin-top: 24px;
  padding: 16px;
}

input[type=text], input[type=password], input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.buton {
  background-color: #8c6e4a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/*partea ziar*/
div.image1 {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url("../pages/1.jpg");
  width: 200px;
  height: auto;
  margin: 0 auto;
}

div.image2 {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url("../pages/2.jpg");
  width: 150px;
  height: auto;
  margin: 0 auto;

}

.flipbook-viewport {
  overflow: hidden;
  width: 1100px;
  height: 100%;
  float: left;
}

.flipbook-viewport .container {
  position: relative;
  top: 50%;
  left: 50%;
  margin: auto;
}

.flipbook-viewport .flipbook {
  width: 922px;
  height: 600px;
  left: -541px;
  top: -300px;
}

.flipbook-viewport .page {
  width: 461px;
  height: 600px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flipbook .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.flipbook-viewport .shadow {
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;

  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  -o-box-shadow: 0 0 20px #ccc;
  -ms-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
}

div.image1 {
  content: url(pages/1.jpg);
  width: 200px;
  height: auto;
  margin: 0 auto;
}

div.image2 {
  content: url(pages/2.jpg);
  width: 150px;
  height: auto;
  margin: 0 auto;

}

.content {
  margin: 10px;
}

.content h1 {
  width: 100%;
  text-align: center;

}

h5 {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;

}

.content > div.left,
.content > div.right {
  box-sizing: border-box;
  width: 50%;
  text-align: justify;
  margin: 0;
}

.right {
  float: right;
  padding-left: 2%;
}

.left {
  float: left;
  padding-right: 2%;
}

/*busola*/

#tot {
  position: absolute;
  right: 1px;
  bottom: 1px;
  display: table;
  width: 166px;
  z-index: 25;
}

#linie {
  display: table-row;
}

#coloana {
  display: table-cell;
}

#tabel {
  display: table-row-group;
}

#facebook, #reddit {
  margin-left: 45px;
}

#twitter, #google {
  display: table-cell;
  transform: translateY(-47px);
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  opacity: 2;
  transition: opacity .3s ease;
}

#felinar {
  position: fixed;
  z-index: 30;
  width: 200px;
  height: auto;
  left: 82%;

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.btn-tertiary {
  color: #555;
  padding: 0;
  line-height: 40px;
  width: 300px;
  margin: auto;
  display: block;
  border: 2px solid #555;
}

.btn-tertiary:hover, .btn-tertiary:focus {
  color: #888888;
  border-color: #888888;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}

.input-file + .js-labelFile .icon:before {
  content: "\f093";
}

.input-file + .js-labelFile.has-file .icon:before {
  content: "\f00c";
  color: #5AAC7B;
}



.paper-button_container .preferences-button {
  margin: 20px auto 0;
  position: static;
  padding: 10px;
  width: auto;
}
